GHOST_URL=https://lali.run

MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=ghost
MYSQL_USER=ghost
MYSQL_PASSWORD=change_me_strong

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=lo.koteyka@gmail.com
SMTP_PASS=olxrgaohyywpdjcr
MAIL_FROM=Blog <lo.koteyka@gmail.com>

GHOST_API_URL=https://ghost.lali.run
GHOST_CONTENT_KEY=
SITE_URL=https://lali.run

NEXT_PUBLIC_AHREFS_ANALYTICS_KEY=T5uvrdFYZyEqK2g1QYCwBg