GHOST_URL=https://lali.run

MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=ghost
MYSQL_USER=ghost
MYSQL_PASSWORD=change_me_strong

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=lo.koteyka@gmail.com
SMTP_PASS=olxrgaohyywpdjcr
MAIL_FROM=Blog <lo.koteyka@gmail.com>
